@page "/articolo"

<div>
    <table>
        <tr>
            <td><h3>Stampante 3D Ultimaker usata</h3></td>
        </tr>
        <tr>
            <td>Modello @stampante.Nome</td>
        </tr>
        <tr>
            <td>Data di acquisto @stampante.strDataAcquisto</td>
        </tr>
        <tr>
            <td>Ore di funzionamento @stampante.Ore</td>
        </tr>
        <tr>
            <td><a href="@stampante.Pdf">Scarica il manuale</a></td>
        </tr>
    </table>    
</div>

<img style="width:400px;" src="@stampante.Immagine"/>

@code
{
    [Parameter]
    public Stampante stampante {get; set;}
}